.p1 {
	border-style: groove;
	border-color: navy;
	background-color: aqua;
	border-width: 7px;
	text-align: center;
	margin: 30px;
}
.p2 {
	border-style: dotted double;
        border-color: Azure;
        background-color: darkorchid;;
        border-width: 7px;
        text-align: center;
        margin: 30px;
	text-color: HoneyDew
}	
